<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9 mx-auto text-center">
          <h1 class="text-white">search match</h1>
        </div>
      </div>
    </div>
  </div>
<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form #searchForm="ngForm" (ngSubmit)="search()">
            <div class="form-group">
              <input type="text"
              [(ngModel)]="obj.searchMatch"
              class="form-control" placeholder="search match by team" name="emaiil">
            </div>
           
           
            <div class="form-group text-center">
              <input type="submit" class="btn btn-primary py-3 px-5" value="search">
            </div>
          </form>  
        </div>
       
      </div>
    </div>
  </div>
