<div class="widget-n!ext-match">
    <table class="table custom-table">
      <thead>
        <tr>
          <th>id</th>
          <th>Name</th>
          <th> Age</th>
          <th> Nbr</th>
          <th> position </th>
          <th> Actions </th>
          
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let  player of players">
          <td>{{player.id}}</td>
          <td><strong class="text-white">{{player.Name}}</strong></td>
          <td>{{player.Age}}</td>
          <td>{{player.Nbr}}</td>
          <td>{{player.position}}</td>
          <td>
            <button class="btn btn-primary" (click)="goTodisplay(player.id)">Display</button>
            <button class="btn btn-secondary" (click)="goToEditPlayer(player.id)">Edit</button>
            <button class="btn btn-success">Delete</button>
          </td>
          
        </tr>
      
        
      
      </tbody>
    </table>
  </div>